
/* Cart */

.cart-wrapper{
  padding: 80px 0 274px;
}

.cart-products-wrapper{
  margin-top: 58px;
  border-bottom: 1px solid #E5E5E5;
}

.cart-products-wrapper  .variants-price{
  margin-bottom: 8px;
}

.product-wrapper{
  border-top: 1px solid #E5E5E5;
  padding: 20px 0
}

.cart-buttons-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-buttons-wrapper button {
  display: flex;
  padding-right: 0;
}

.cart-slider{
  display: flex;
  min-height: 288px;
}

.cart-images-wrapper{
  margin-left: 24px;
  width: 200px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-item-qty{
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.slider-next{
  position: absolute;
  bottom: 12px;
  right: 10px;
}

.slider-prev{
  position: absolute;
  bottom: 12px;
  right: 50px;
}

.cart-total-item{
  display: grid;
   grid-template-columns: 3fr 4fr;
    width: 250px;
}

.cart-total h4, .cart-total strong{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0;
}

.cart-total strong{
  font-weight: 700;
}

.cart-order-btn{
  height: 43px;
  width: 279px;
}

.btn{
  width: 140px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;      
}

.view-bag-btn{
  border: 1px solid var(--c-black);
}

.checkout-btn{
  background-color: var(--c-primary);
  color: #fff;
}

/* Minicart */

.minicart-wrapper{
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  right: 0;
  top: 78px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.minicart{
  position: absolute;
  right:  42px;
  background: #fff;
  width: 325px;
}

.minicart .container {
  width: calc(100% - 8%);
}

.minicart h1{
  font-size: 16px!important;
  line-height: 160%;
}

.minicart .cart-wrapper, .minicart .cart-products-wrapper{
  padding: 0;
  margin: 32px 0 41px;
}
.minicart .cart-products-wrapper{
width: 293px;
}
.minicart .product-wrapper{
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.minicart .cart-buttons-wrapper{
  width: 24px;
  margin-right: 8px;
}

.minicart .pdp-variants-header{
  margin-bottom: 0;
}

.minicart .variants-brand, .minicart .variants-product-name{
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
}
.minicart .variants-h5{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}

.minicart .text-box, 
.minicart .cart-buttons-wrapper button svg,
.minicart .cart-buttons-wrapper button{
  width: auto;
  height: 24px;
  width: auto;
  min-width: 24px;
  padding: 0;
}

.minicart .sizes-container{
  gap: 8px;
  flex-wrap: wrap;
  
}

.minicart .color-box{
  width: 16px;
  height: 16px;
}

.minicart .selected-text-box .selected-color-border {
  width: 18px;
  height: 18px;
  left: -2px;
  bottom: -2px;
}

.minicart .variants-priceBox{
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-top: 0;
  height: auto;
}

.minicart .cart-item-qty{
  font-weight: 500;
font-size: 16px;
line-height: 160%;
}

.minicart .cart-slider{
  min-height: 190px;
  margin-left: 20px
}

.minicart .cart-slider{
  min-height: 190px;
}

.minicart .cart-images-wrapper{
  width: 121px;
  margin-left: 0;
}

.minicart .pdp-variants-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.minicart-total, .minicart-btn{
  display: flex;
    justify-content: space-between;
}

.minicart-total p{
font-weight: 600;
font-size: 16px;
line-height: 18px;
}

.minicart .cart-products-wrapper{
  border: none;
}