/* Navbar */
nav {
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

nav li a {
  transition: 0.1s;
  padding: 30px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.nav-right__cart-svg {
  padding: 0;
  position: relative;
}

.nav-right__total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #1d1f22;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  z-index: -1;
}

.nav-left__link-active {
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
  font-weight: 600;
}

.nav-left li {
  padding-bottom: 3px;
}

.nav-right li {
  padding-top: 4px;
}

.nav-middle {
  padding-top: 10px;
  width: 77px;
}

.nav-right {
  width: 228px;
  justify-content: flex-end;
  display: flex;
  padding-top: 5px;
}

.nav-right__currency-wrapper {
  display: flex;
  align-items: center;
  width: 55px;
}

.nav-right__currency {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: var(--c-black);
  padding-right: 10px;
}

.dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropdown__menu {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  height: calc(47px * 5);
  left: -20px;
  width: 114px !important;
  justify-content: space-evenly;
  padding-top: 20px;
  z-index: 1;
}

.dropdown__menu button {
  height: 47px;
  width: 114px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-left: 20px;
  text-align: start;
}

.dropdown__menu button:hover {
  color: #4e515b;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  nav li a {
    font-size: 15px;
  }
}

@media only screen and (max-device-width: 767px) {
  .dropdown__menu button,
  .dropdown__menu {
    width: 80px !important;
  }

  .dropdown__menu {
    height: calc(27px * 5);
  }

  .dropdown__menu button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
  }

  .nav-right__cart-svg {
    width: 15px;
  }

  .nav-right__total-icon {
    right: -8px;
    height: 15px;
    width: 15px;
    top: -8px;
    font-size: 10px;
  }

  .nav-right__currency {
    font-size: 15px;
    padding-right: 5px;
  }

  .nav-right__currency-wrapper {
    width: 40px;
  }

  .nav-right {
    padding-top: 0;
  }
}
