:root {
  --c-primary: #5ece7b;
  --c-text: #1d1f22;
  --c-black: #1d1f22;
  --b-gray: #eee;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--c-black);
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.c-primary {
  color: var(--c-primary);
}

.c-text {
  color: var(--c-text);
}

.c-black {
  color: var(--c-black);
}

.b-gray {
  background-color: var(--b-gray);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.pdp__variant-img,
.plp-card__img,
.pdp__main-img {
  object-fit: contain;
  object-position: top;
}

/**********************
** container
**********************/

/* Desktop lg */

.container {
  max-width: calc(100% - 14%);
  margin: auto;
}

.inner-container {
  max-width: 1440px;
  margin: auto;
}

.container-sm {
  width: calc(100% - 14%);
  margin: auto;
}

.minicart .container {
  max-width: calc(100% - 7%);
}

@media only screen and (min-width: 768px)and (max-device-width: 1425px) {
  .container {
    width: calc(100% - 7%);
    margin: auto;
  }

  .container-sm {
    width: calc(100% - 5%);
    margin: auto;
  }
}
