:root{
  --c-primary: #5ECE7B;
  --c-text: #1D1F22;
  --c-black: #1D1F22;
  --b-gray: #EEEEEE;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--c-black);
}

img{
  width: 100%;
  height: 100%;
}

.variant-img, .listing-card-img,.variant-main-img, .variant-img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin: 0
}
.c-primary{
  color: var(--c-primary)
}
.c-text{
  color: var(--c-text)
}
.c-black{
  color: var(--c-black)
}

.b-gray{
  background-color: var(--b-gray);
}

.cursor-default{
  cursor: default;
}

ul{
  list-style: none;
}

button, a{
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.currency{
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: var(--c-black);
  padding-right: 5px;
}


/* ** Buttons */
/* Navbar */
nav{
  height: 80px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li a {
  transition: 0.1s;
  padding: 30px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.cart-svg{
    padding: 0;
    position: relative;
}

.cart-total-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #1D1F22;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  top: -16px;
  right: -11px;
  z-index: -1;
}

.nav-link-active{
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
  font-weight: 600;
}

.nav-middle-group {
  padding-top: 10px;
}

.nav-right-group{
  width: 228px;
  justify-content: end;
  display: flex;
  padding-top: 5px;
}

.nav-right-group ul{
  width: 70px;
}

.dropdown{
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: calc(47px * 5);
  left: -20px;
  width: 114px!important;
  justify-content: space-evenly;
}

.dropdown button {
  height: 47px;
  width: 114px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-left: 20px;
text-align: start;
}

.dropdown button:hover{
  color: #4e515b;
}

/* PLP */
.products-listing-wrapper{
  margin-top: 80px;
}

.products-listing-wrapper h1{
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0;
}

.products-grid{
  margin: 103px 0 191px 0;
  display: grid;
  gap: 103px 30px;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr))
}



.listing-card-wrapper{
  height: 444px;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.listing-card-wrapper:hover{
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.listing-card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

.listing-card-img{
  float: left;
  width: 354px;
  height: 330px;
}

.listing-card-desc{
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 58px;
  padding: 16px;
  position: relative;
}

.listing-card-desc button{
  position: absolute;
  right: 31px;
  top: -53px;
  background-color: transparent;
}

.listing-card-desc h3, 
.listing-card-desc h4{
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: var(--c-black);
  margin: 0;
}

.listing-card-desc h4{
  font-weight: 500;
}

.listing-card-out{
  background-color: #fff;
  opacity: 0.5;
  cursor: none;
}

.listing-card-outofstock{
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
}

/* PDP */
.pdp-wrapper{
  display: flex;
  margin-top: 72px;
  height: 790px;
  gap: 35px;
  overflow: hidden;
}
.variant-img-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;
}

.variant-img{
  width: 79px;
  height: 80px;
}



.variant-main-img{
  width: 610px;
  height: 511px;
}



/* pdp variants */
.pdp-variants{
  display: flex;
  justify-content: space-between;
  height: 280px;
  /* width: 292px; */
  /* margin-left: 65px; */
}

.pdp-variants-header{
  margin-bottom: 43px;
}
.variants-brand{
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0 0 16px;
}
.variants-product-name{
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin: 0;
}

.variants-h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

.sizes-container{
  display: flex;
  gap: 13px;
  margin: 8px 0 24px;
}

.color-box{
  width: 32px;
  height: 32px;
}
.selected-text-box {
  position: relative;
}
.selected-text-box .selected-color-border{
  height: 34px;
    width: 34px;
    top: -2px;
  left: -2px;
  border: 1px solid var(--c-primary);
  position: absolute;
}

.text-box {
  width: 63px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--c-text);
}

.selected-text-box > button {
  background-color: #1D1F22;
  color: #FFF;
}

.variants-add-cart{
  margin: 20px 0 40px;
}

.add-cart-btn, .cart-order-btn{
  width: 292px;
  height: 52px;
  color: #fff;
  background-color: var(--c-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.add-cart-btn:hover{
  background-color: #5ece7cd6;
}

.variants-priceBox{
  width: 86px;
  height: 46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Cart */

.cart-wrapper{
  margin-top: 80px;
  padding: 80px 0 274px;
}

.cart-products-wrapper{
  margin-top: 55px;
  border-bottom: 1px solid #E5E5E5;
}

.product-wrapper{
  border-top: 1px solid #E5E5E5;
  padding: 24px 0;
}

.cart-buttons-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-slider{
  display: flex;
  height: 288px;
}

.cart-images-wrapper{
  margin-left: 24px;
  width: 200px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-item-qty{
  font-weight: 500;
font-size: 24px;
line-height: 160%;
}

.slider-buttons-wrapper{
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.cart-total h4{
  font-weight: 400;
}

.cart-order-btn{
  height: 43px;
  width: 279px;
}
/* ** Responsiveness */

@media only screen and (max-width: 768px) {
  .flex-xs-column {
    flex-direction: column;
  }
}