:root{
  --c-primary: #5ECE7B;
  --c-text: #1D1F22;
  --c-black: #1D1F22;
  --b-gray: #EEEEEE;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--c-black);
}

img{
  width: 100%;
  height: 100%;
}

.c-primary{
  color: var(--c-primary)
}
.c-text{
  color: var(--c-text)
}
.c-black{
  color: var(--c-black)
}

.b-gray{
  background-color: var(--b-gray);
}

.cursor-default{
  cursor: default;
}

ul{
  list-style: none;
}

button, a{
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  border: none;
}

.currency{
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: var(--c-black);
  padding-right: 5px;
}


/* ** Buttons */
/* Navbar */
nav{
  height: 80px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li a {
  transition: 0.1s;
  padding: 30px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.nav-link-active{
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
  font-weight: 600;
}

.nav-middle-group {
  padding-top: 10px;
}

.nav-right-group{
  width: 228px;
  justify-content: end;
  display: flex;
  padding-top: 5px;
}

.nav-right-group ul{
  width: 70px;
}

.dropdown{
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: calc(47px * 5);
  left: -20px;
  width: 114px!important;
  justify-content: space-evenly;
}

.dropdown button {
  height: 47px;
  width: 114px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-left: 20px;
text-align: start;
}

.dropdown button:hover{
  color: #4e515b;
}

/* PLP */
.products-listing-wrapper{
  margin-top: 80px;
}

.products-listing-wrapper h1{
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0;
}

.products-grid{
  margin: 103px 0 191px 0;
  display: grid;
  gap: 103px 30px;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr))
}



.listing-card-wrapper{
  height: 444px;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.listing-card-wrapper:hover{
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.listing-card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

.listing-card-img{
  float: left;
  width:  354px;
  height: 330px;
  background-size: cover;

}

.listing-card-desc{
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 58px;
  padding: 16px;
  position: relative;
}

.listing-card-desc button{
  position: absolute;
  right: 31px;
  top: -53px;
  background-color: transparent;
}

.listing-card-desc h3, 
.listing-card-desc h4{
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: var(--c-black);
  margin: 0;
}

.listing-card-desc h4{
  font-weight: 500;
}

.listing-card-out{
  background-color: #fff;
  opacity: 0.5;
  cursor: none;
}

.listing-card-outofstock{
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
}
/* ** Responsiveness */

@media only screen and (max-width: 768px) {
  .flex-xs-column {
    flex-direction: column;
  }
}