/**********************
** Helpers 
**********************/
.d-flex {
  display: flex
}

.align-items-center{
  align-items: center;
}

.relative{
  position: relative;
}

/**********************
** Grid
**********************/

/* 768px == 48em */
@media only screen and (min-width: 768px) {
  .order-only-xs-revesre {
    flex-direction: row;
  }

  .container {
    width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }

}

/* 1024px == 64em */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }
  
  .container-sm {
    width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }

  .minicart .container{
    max-width: calc(100% - 7%);
  }
}