/**********************
** Helpers 
**********************/
.d-flex {
  display: flex
}

.align-items-center{
  align-items: center;
}

.relative{
  position: relative;
}

/**********************
** Grid
**********************/

/* 768px == 48em */
@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }

}

/* 768px == 48em */
@media only screen and (max-width: 1023px) {
  .container {
    width: calc(100% - 7%);
    margin: auto;
    padding-left: 1%;
  }

  .products-grid{
    margin: 30px auto 100px auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 30%));
    justify-content: center;
  }

  .listing-card-desc{
    padding: 0;
  }

}

/* 1024px == 64em */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }
  
  .container-sm {
    width: calc(100% - 13%);
    margin: auto;
    padding-left: 1%;
  }
  .minicart .container{
    max-width: calc(100% - 7%);
  }
}